@mixin background-image {
  background-size: cover!important;
  background-position: center!important;
  background-repeat: no-repeat;
}

.hero-bg {
  background: url('./images/landing-hero-mobile.jpg');
  @include background-image();

  @media (min-width: 700px) {
    background-image: url('./images/landing-hero-image.jpg');
  }
}
