@mixin background-image {
  background-size: cover!important;
  background-position: center!important;
  background-repeat: no-repeat;
}

.hero-bg {
  background: url('./images/landing-hero-mobile.jpg');
  @include background-image();

  @media (min-width: 700px) {
    background-image: url('./images/landing-hero-image.jpg');
  }
}

/* width */
.tab-buttons::-webkit-scrollbar {
  display: none;
}

/* Track */
.tab-buttons::-webkit-scrollbar-track {
  width: 0;
  background: #f1f1f1;
}

/* Handle */
.tab-buttons::-webkit-scrollbar-thumb {
  width: 0;
  background: #888;
}

/* Handle on hover */
.tab-buttons::-webkit-scrollbar-thumb:hover {
  width: 0;
  background: #555;
}