.hero-bg {
  background: linear-gradient(to right, rgba(31, 30, 30, 0.733), rgba(20, 20, 20, 0.233)), url('./images/landing-hero-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}